.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Editar Perfil
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Usuarios Registrados', users_index_path
      %li
        Editar Perfil

.wrapper.wrapper-content
  .row.animated.fadeInRight
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          = form_for(current_user, url:  profile_update_path, html: { method: :post, class:"form-horizontal m-t-md", id: "form_edit_user"}) do |f|
            = devise_error_messages!
            .form-group
              = f.label :name, "Nombre: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :name, autofocus: true, class: 'form-control'
            .form-group
              = f.label :username, "Login: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :username, autofocus: false, class: 'form-control'
            .form-group
              = f.label :email, "Correo Electrónico: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.email_field :email, class: "form-control"
            .form-group
              = f.label :name, "Teléfonos: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :cellphone, autofocus: false, class: 'form-control'
            .form-group
              = f.label :avatar, 'Avatar: ', class: 'col-sm-2 control-label'
              .col-sm-10
                = render 'users/shared/file_input', f: f, campo: :avatar, modelo_campo: current_user.avatar
            .form-group
              .col-sm-3.col-sm-offset-9
                = f.submit "Actualizar", class: "btn btn-warning btn-block"
