<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      Editar Local
    </h2>
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', 'http://localhost:3000/' %></li>
      <li><%= link_to 'Locales Registrados', '/locals' %></li>
      <li>
        Editar Local
      </li>
    </ol>
  </div>
</div>

<%= render 'form' %>

