%br
  .row
    .col-md-12
      %table.table.table-striped.table-bordered.table-hover#table_ventas_diaria_neta
        %thead
          %tr
            %th{width: '15%'} Dia
            %th Total Venta
            %th Total Notas Credito
            %th Total Venta Bruta
            %th Total Costo Venta
            %th Total Venta Neta
        %tbody#tbody_venta_neta.tbody_ventas_diarias