%br
  .row
    .col-md-12
      %table.table.table-striped.table-bordered.table-hover#table_ventas_diaria_bruta
        %thead
          %tr
            %th{width: '15%'} Dia
            %th Total Venta
            %th Total Notas Credito
            %th Total Venta Bruta
        %tbody#tbody_venta_bruta.tbody_ventas_diarias