.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Ventas Mensuales del Mall
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Ventas Mensuales del Mall

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          %br
          .row
            .col-md-3
              = form_tag(@lapso_year, :html => { :class => "form-horizontal" } ) do |f|
                = select_year(Date.today, options = { :start_year => Time.now.year, :end_year => Time.now.year - 5, :field_name => 'lapso_year'}, :class => 'actualizar_ventas_mes')
          %br
          %br
          .row
            .col-md-12
              %table.table.table-striped.table-bordered.table-hover.dataTables-example#table_ventas_mall
                %thead
                  %tr
                    %th.text-center Mes
                    %th.text-center Monto Ventas
                    %th.text-center Canon Fijo
                    %th.text-center Canon Variable
                    %th.text-center Total Canon
                %tbody#tbody-ventas-mall
                  %tr
                    %td.text-center Enero
                    %td.text-center{rowspan: 12, colspan: 4,style: "vertical-align: middle"}
                      %span.text-center{style: "vertical-align: middle"}
                        Cargando Datos...
                  %tr
                    %td.text-center Febrero
                  %tr
                    %td.text-center Marzo
                  %tr
                    %td.text-center Abril
                  %tr
                    %td.text-center Mayo
                  %tr
                    %td.text-center Junio
                  %tr
                    %td.text-center Julio
                  %tr
                    %td.text-center Agosto
                  %tr
                    %td.text-center Septiembre
                  %tr
                    %td.text-center Octubre
                  %tr
                    %td.text-center Noviembre
                  %tr
                    %td.text-center Diciembre
                %tfoot#tfoot-ventas-mall
                  %tr
                    %td.text-center TOTAL
                    %td#suma_total
                    %td#total_canon_fijo
                    %td#total_canon_x_ventas
                    %td#total_canons


