= form_for @tienda, html: {id: 'form_tiendas'} do |f|
  = render 'shared/error_messages', object: f.object, model: 'Tienda'

  .row
    .col-lg-6
      .ibox.float-e-margins
        .ibox-content.border-bottom.form-horizontal
          .form-group
            = f.label :nombre, class: 'col-sm-2 control-label' do
              Nombre:
            .col-sm-10
              = f.text_field :nombre, class: 'form-control'
          .form-group
            = f.label :local_id, class: 'col-sm-2 control-label' do
              Nro. Local:
            .col-sm-10
              = f.select :local_id, options_from_collection_for_select(Local.valid_locals(current_user), :id, :nro_local, selected: f.object.local_id || nil), {include_blank: 'Seleccione un Local'}, {class: 'form-control'}
          .form-group
            = f.label :arrendatario_id, class: 'col-sm-2 control-label' do
              Arrendatario:
            .col-sm-7
              = f.select :arrendatario_id, options_from_collection_for_select(Arrendatario.valid_arrendatarios(current_user), :id, :nombre, selected: f.object.arrendatario_id || nil), {include_blank: 'Seleccione un Arrendatario'}, {class: 'form-control'}
            .col-sm-3
              = link_to new_arrendatario_path, class: 'btn btn-warning' do
                %i.fa.fa-plus-square
          .form-group
            = f.label :actividad_economica_id, class: 'col-sm-2 control-label' do
              Actividad Económica:
            .col-sm-10
              = f.select :actividad_economica_id, content_tag(:option,'Nueva Actividad Económica...',:value=>"nueva_actividad_economica") + options_from_collection_for_select(ActividadEconomica.all, :id, :nombre, selected: f.object.actividad_economica_id || nil), {include_blank: 'Seleccione una Actividad Económica'}, {class: 'form-control', id: 'select_actividad_economica_tienda'}
          %div#add_actividad_economica_select
            .form-group
              = label_tag :nueva_actividad_economica, class: 'col-sm-3 control-label' do
                Nueva Actividad Económica:
              .col-sm-6
                = text_field_tag :nueva_actividad_economica, nil, class: 'form-control'
                %span.help-block.text-danger#validacion_nombre_actividad
                  Nombre no puede estar en blanco.
                %span.help-block.text-danger#validacion_nombre_en_uso_actividad
                  Actividad Económica ya existente.
              .col-sm-2
                %a.btn.btn-mall#agregar_actividad_economica_tienda{href:'#'}
                  Agregar
              .col-sm-1
                %span.fa-stack
                  %i#loading_actividad_economica.fa.fa-2x.fa-spinner.fa-spin
    .col-lg-6
      .ibox.float-e-margins
        .ibox-content.border-bottom.form-horizontal
          = f.fields_for :contrato_alquilers, @contrato_alquiler do |c|
            .form-group
              = c.label :tipo_canon_alquiler, class: 'col-sm-3 control-label' do
                Tipo Canon Alquiler:
              .col-sm-9
                = c.select :tipo_canon_alquiler, ContratoAlquiler.tipo_canon_alquilers.keys.to_a.map { |x| [x.humanize.titleize, x]}, {selected: c.object.tipo_canon_alquiler || nil, include_blank: 'Seleccione un Tipo de Canon de Alquiler'}, {class: 'form-control tipo_canon_alquiler_required', id: 'select_canon_alquiler'}
            .form-group
              = c.label :fecha_inicio, class: 'col-sm-3 control-label' do
                Fecha Inicio del Contrato:
              .col-sm-9.form-inline
                = c.date_select :fecha_inicio, {}, class: 'form-control'
            .form-group
              = c.label :fecha_fin, class: 'col-sm-3 control-label' do
                Fecha Fin del Contrato:
              .col-sm-9.form-inline
                = c.date_select :fecha_fin, {}, class: 'form-control'
            %div#canon_fijo{style: (c.object.tipo_canon_alquiler == 'canon_fijo_y_porcentaje_ventas' || c.object.tipo_canon_alquiler == 'canon_fijo') ? '' : 'display:none'}
              .form-group
                = c.label :canon_fijo_ml, class: 'col-sm-3 control-label' do
                  Canón Fijo en Bs.:
                .col-sm-9
                  = c.text_field :canon_fijo_ml, class: 'form-control numeric_contrato_alquiler canon_fijo_ml'
              .form-group
                = c.label :canon_fijo_usd, class: 'col-sm-3 control-label ' do
                  Canón Fijo en $:
                .col-sm-9
                  = c.text_field :canon_fijo_usd, class: 'form-control numeric_contrato_alquiler canon_fijo_usd'
            %div#canon_porcentaje{style: (c.object.tipo_canon_alquiler == 'canon_fijo_y_porcentaje_ventas' || c.object.tipo_canon_alquiler == 'porcentaje_de_ventas') ? '' : 'display:none'}
              .form-group
                = c.label :porc_canon_ventas, class: 'col-sm-3 control-label' do
                  \% de Canon por Ventas:
                .col-sm-9
                  = c.text_field :porc_canon_ventas, class: 'form-control numeric_contrato_alquiler porc_canon_ventas'
              .form-group
                = c.label :monto_minimo_ventas, class: 'col-sm-3 control-label' do
                  Monto Mínimo de Ventas Mensual:
                .col-sm-9
                  = c.text_field :monto_minimo_ventas, class: 'form-control numeric_contrato_alquiler monto_minimo_ventas'
            .form-group
              = c.label :archivo_contrato, class: 'col-sm-3 control-label' do
                Archivo Digital del Contrato:
              .col-sm-9
                = render 'shared/file_upload_generic', f: c , field: :archivo_contrato, name_file: c.object.archivo_contrato || nil
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content.border-bottom.form-horizontal
          .form-group
            .col-sm-3
              = link_to tiendas_path, class: 'btn btn-warning btn-block' do
                Regresar
            .col-sm-3.col-sm-offset-6
              = f.submit 'Guardar', class: 'btn btn-mall btn-block', disable_with: 'Guardar'







-#<%= form_for(@tienda) do |f| %>
-#  <% if @tienda.errors.any? %>
-#    <div id="error_explanation">
-#      <h2><%= pluralize(@tienda.errors.count, "error") %> prohibited this tienda from being saved:</h2>
-#
-#      <ul>
-#      <% @tienda.errors.full_messages.each do |message| %>
-#        <li><%= message %></li>
-#      <% end %>
-#      </ul>
-#    </div>
-#  <% end %>
-#
-#  <div class="actions">
-#    <%= f.submit %>
-#  </div>
-#<% end %>
