= provide(:title, "#{current_user.mall.nombre } - Tiendas")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      = current_user.mall.nombre
      \-
      Nueva Tienda
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to "Tiendas #{current_user.mall.nombre}", tiendas_path
      %li
        Registro de Nueva Tienda

.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'

-#<%= link_to 'Back', tiendas_path %>
