= form_for @arrendatario do |f|
  = render 'shared/error_messages', object: f.object, model: 'Arrendatario'
  -#.row
  -#  .col-lg-12
  -#    .ibox.float-e-margins
  -#      .ibox-content.form-horizontal
  -#        .form-group
  -#          = f.label :local_id, class: 'col-sm-2 control-label' do
  -#            Local:
  -#          .col-sm-10
  -#            = f.select :local_id, options_from_collection_for_select(@locals, :id, :nro_local, selected: f.object.local_id || nil), {include_blank: 'Seleccione un Local'}, {class: 'form-control'}
  .row
    .col-lg-6
      .ibox.float-e-margins
        .ibox-title
          %h3
            Datos de la Empresa
        .ibox-content.form-horizontal
          .form-group
            = f.label :nombre, class: 'col-sm-2 control-label' do
              Nombre:
            .col-sm-10
              = f.text_field :nombre, class: 'form-control'
          .form-group
            = f.label :rif, class: 'col-sm-2 control-label' do
              R.I.F:
            .col-sm-10
              = f.text_field :rif, class: 'form-control'
          .form-group
            = f.label :direccion, class: 'col-sm-2 control-label' do
              Dirección:
            .col-sm-10
              = f.text_field :direccion, class: 'form-control'
          .form-group
            = f.label :telefono, class: 'col-sm-2 control-label' do
              Teléfonos:
            .col-sm-10
              = f.text_field :telefono, class: 'form-control'
          -#.form-group
          -#  = f.label :actividad_economica_id, class: 'col-sm-2 control-label' do
          -#    Actividad Económica:
          -#  .col-sm-10
          -#    = f.select :actividad_economica_id, options_from_collection_for_select(ActividadEconomica.all, :id, :nombre, selected: f.object.actividad_economica_id || nil), {include_blank: 'Seleccione una Actividad Económica'}, {class: 'form-control'}
          -#.form-group
          -#  = f.label :actividad_economica_id, class: 'col-sm-2 control-label' do
          -#    Actividad Económica:
          -#  .col-sm-10
          -#    = f.select :actividad_economica_id, options_from_collection_for_select(ActividadEconomica.where(mall_id: current_user.mall.id), :id, :nombre, selected: f.object.actividad_economica_id || nil), {include_blank: 'Seleccione una Actividad Económica'}, {class: 'form-control'}
    .col-lg-6
      .ibox.float-e-margins
        .ibox-title
          %h3
            Datos del Representante Legal
        .ibox-content.form-horizontal
          .form-group
            = f.label :nombre_rl, class: 'col-sm-2 control-label' do
              Nombre:
            .col-sm-10
              = f.text_field :nombre_rl, class: 'form-control'
          .form-group
            = f.label :cedula_rl, class: 'col-sm-2 control-label' do
              Cédula:
            .col-sm-10
              = f.text_field :cedula_rl, class: 'form-control'
          .form-group
            = f.label :email_rl, class: 'col-sm-2 control-label' do
              Email:
            .col-sm-10
              = f.email_field :email_rl, class: 'form-control'
          .form-group
            = f.label :telefono_rl, class: 'col-sm-2 control-label' do
              Teléfonos:
            .col-sm-10
              = f.text_field :telefono_rl, class: 'form-control'
  .row
    .col-lg-12
      .ibox-content
        .row
          .col-sm-3.col-sm-offset-9
            = f.submit 'Guardar', class: 'btn btn-mall btn-block', data: { disable_with: 'Guardar'}




  -#.form-group
  -#  = f.label :fecha_inicio, class: 'col-sm-2 control-label' do
  -#    Fecha de Inicio del Contrato:
  -#  .col-sm-3.form-inline
  -#    = f.date_select :fecha_inicio, {}, { class: 'form-control'}
  -#  = f.label :fecha_fin, class: 'col-sm-2 control-label' do
  -#    Fecha de Fin del Contrato:
  -#  .col-sm-4.form-inline
  -#    = f.date_select :fecha_fin, {}, { class: 'form-control'}
  -#.form-group
  -#  = f.label :representante_legal, class: 'col-sm-2 control-label' do
  -#    Representante Legal:
  -#  .col-sm-10
  -#    = f.text_field :representante_legal, class: 'form-control'
  -#.form-group
  -#  = f.label :telefono, class: 'col-sm-2 control-label' do
  -#    Teléfonos:
  -#  .col-sm-10
  -#    = f.text_field :telefono, class: 'form-control'
  -#.form-group
  -#  = f.label :actividad_economica_id, class: 'col-sm-2 control-label' do
  -#    Actividad Económica:
  -#  .col-sm-10
  -#    = f.select :actividad_economica_id, options_from_collection_for_select(ActividadEconomica.all, :id, :nombre), {include_blank: 'Seleccione una Actividad Económica'}, {class: 'form-control'}
  -#-#.form-group
  -#-#  = f.label :tipo_canon_alquiler, class: 'col-sm-2 control-label' do
  -#-#    Tipo Canon Alquiler:
  -#-#  .col-sm-10
  -#-#    = f.select :tipo_canon_alquiler, Inquilino.tipo_canon_alquilers.keys.to_a.map { |x| [x.humanize.titleize, x]}, {include_blank: 'Seleccione un Tipo de Canon de Alquiler'}, {class: 'form-control'}
  -#.form-group
  -#  = f.label :archivo_contrato, class: 'col-sm-2 control-label' do
  -#    Archivo Digital del Contrato:
  -#  .col-sm-10
  -#    = render 'users/shared/file_input',f: f, modelo_campo: @inquilino.archivo_contrato, campo: :archivo_contrato
  -#.form-group
  -#  .col-sm-3.col-sm-offset-9
  -#    = f.submit 'Guardar', class: 'btn btn-mall btn-block', data: {disable_with: 'Guardar'}
  -#-#.form-group
  -#-#  = f.label :direccion, class: 'col-sm-2 control-label' do
  -#-#    Dirección:
  -#-#  .col-sm-10
  -#-#    = f.text_area :direccion, class: 'form-control', height:8
  -#
