= provide(:title, "#{current_user.mall.nombre } - Arrendatarios")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      = current_user.mall.nombre
      \-
      Arrendatario
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Arrendatarios', arrendatarios_path
      %li
        Arrendatario

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-md-6
              %h2
                = @arrendatario.nombre
              %p
                %b RIF:
                = @arrendatario.rif
              %p
                %b Dirección:
                = @arrendatario.direccion
              %p
                %b Teléfonos:
                = @arrendatario.telefono
            .col-md-6
              %h2
                Representante Legal -
                = @arrendatario.nombre_rl
              %p
                %b Cédula:
                = @arrendatario.cedula_rl
              %p
                %b Email:
                = @arrendatario.email_rl
              %p
                %b Teléfonos
                = @arrendatario.telefono_rl

  .row
    .col-lg-12
      .ibox-content
        .row
          .col-sm-3
            = link_to arrendatarios_path, class: 'btn btn-warning btn-block' do
              Regresar
          .col-sm-3.col-sm-offset-6
            = link_to edit_arrendatario_path(@arrendatario), class: 'btn btn-mall btn-block' do
              Editar
