<%= form_for(@calendario_no_laborable) do |f| %>
  <% if @calendario_no_laborable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendario_no_laborable.errors.count, "error") %> prohibited this calendario_no_laborable from being saved:</h2>

      <ul>
      <% @calendario_no_laborable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :motivo %><br>
    <%= f.text_field :motivo %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
  </div>
<% end %>
