.panel.panel-success
  .panel-heading
    %h3
      Contrato Actual Número:
      = @tienda.contrato_alquilers.last.nro_contrato
  .panel-body
    = link_to "Editar Contrato", edit_contrato_alquiler_path(tienda: @tienda.nombre, id: @tienda.id, ca: @tienda.contrato_alquilers.last.id), class: 'btn btn-success'
    %br
    %br
    %p.text-success
      %strong Fecha Fin del Contrato:
      = @tienda.contrato_alquilers.last.fecha_fin_fix
    = render 'datos_contrato'