<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      Nuevo País
    </h2>
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', 'http://localhost:3000/' %></li>
      <li><%= link_to 'Paises Registrados', '/pais' %></li>

      <li>
        Registro de País
      </li>
    </ol>
  </div>
</div>

<%= render 'form' %>

