.loginColumns.animated.fadeInDown
  .row
    .col-md-6.text-center
      %br
      %br
      -#%h2.font-bold Bienvenido a MallRental
      = image_tag('mall_rental_logo2.png', width: 250)
    .col-md-6
      .ibox-content
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'm-t'}) do |f|
          .form-group
            = f.text_field :username, placeholder: 'Usuario', class:'form-control', required: ''
          .form-group
            = f.password_field :password, autocomplete: "off", placeholder: "Contraseña", class: 'form-control', required: ''
          .form-group
            - if devise_mapping.rememberable?
              = f.check_box :remember_me
              = f.label :remember_me, 'Mantener Conectado'
          = f.submit 'Entrar', class: 'btn btn-warning block full-width m-b'
          -#%button.btn.btn-primary.block.full-width.m-b{:type => "submit"} Login
          = link_to new_user_password_path, class: 'small' do
            ¿Olvido su contraseña?
          -#%a{:href => "#"}
          -#  %small Olvido su contraseña?
          -#%p.text-muted.text-center
          -#  %small Do not have an account?
          -#%a.btn.btn-sm.btn-white.btn-block{:href => "register.html"} Create an account
        %p.m-t
          %small MallRental esta basado en Bootstrap 3 © 2015
  %hr/
  .row
    .col-md-6
      Copyright Ricardo Xavier Graterol
      %small © 2015