- if user_signed_in?
  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12.text-center
        = image_tag('mall_rental_logo2.png', style: 'margin-top:200px')
- else
  = render partial: 'log_in'

