<%= form_for(@pago_alquiler) do |f| %>
  <% if @pago_alquiler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pago_alquiler.errors.count, "error") %> prohibited this pago_alquiler from being saved:</h2>

      <ul>
      <% @pago_alquiler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
