- if @facturas_array.blank?
  %tr
    %td.text-center{colspan: 7}
      - if @cantidad == 0 && !@tienda_id.nil?
        %span.text-center.vacio
          No se encontraron facturas por pagar
      - else
        %span.text-center
          Debe seleccionar una tienda para buscar las Facturas x Pagar
