<h1>Listing pago_alquilers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pago_alquilers.each do |pago_alquiler| %>
      <tr>
        <td><%= link_to 'Show', pago_alquiler %></td>
        <td><%= link_to 'Edit', edit_pago_alquiler_path(pago_alquiler) %></td>
        <td><%= link_to 'Destroy', pago_alquiler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pago alquiler', new_pago_alquiler_path %>
