= form_for @role, html: {class: 'form-horizontal m-t'} do |f|
  - if @role.errors.any?
    #error_explanation
      %h2
        = pluralize(@role.errors.count, "error")
        prohibited this role from being saved:
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, class: 'col-sm-2 control-label' do
      Nombre:
    .col-sm-10
      = f.text_field :name, class:'form-control'
  .form-group
    = f.label :role_type, class: 'col-sm-2 control-label' do
      Tipo de Rol:
    .col-sm-10
      = f.select(:role_type, Role.valid_role_types.map { |x| [x.humanize.titleize, x]}, {include_blank: 'Seleccione un Tipo de Rol'}, class: 'form-control')
  .form-group
    %br
      %table.table.table-striped
        %thead
          %tr
            %th{colspan: 2}
              %h2
                Funciones del Sistema
      - controlador_aux = ""
      = f.collection_check_boxes :permission_ids, Permission.all_valids, :id, :name_action_class do |r|
        - if r.object.subject_class != controlador_aux
          %hr
          .row
            .col-md-3.col-md-offset-3
              %h3
                = r.object.subject_class
        .row
          .col-md-5.col-md-offset-1
            = r.label
          .col-md-3
            = r.check_box
        - controlador_aux = r.object.subject_class
  .form-group
    .col-sm-3
      = link_to 'Regresar', roles_path, class:'btn btn-block btn-warning'
    .col-sm-3.col-sm-offset-6
      = f.submit 'Guardar', class: 'btn btn-mall btn-block', data: {disable_with: 'Guardar'}