.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Roles
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Roles

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to 'Nuevo Rol', new_role_path, class: 'btn btn-mall btn-block'
          %br
          .row
            .col-md-12
              %table.table.table-striped.table-bordered.table-hover
                %thead
                  %tr
                    %th Nombre
                    %th Tipo de Rol
                    %th Acciones
                %tbody
                  - @roles.each do |role|
                    %tr
                      %td= role.name
                      %td= role.role_type_humanized
                      %td
                        = link_to role do
                          Ver
                          %i.fa.fa-search
                        .verticalLine
                        = link_to edit_role_path(role) do
                          Editar
                          %i.fa.fa-edit
                        .verticalLine
                        = link_to role, method: :delete, data: { confirm: 'Are you sure?' } do
                          Eliminar
                          %i.fa.fa-trash