//= require jasny/jasny-bootstrap.min

.mostrar{
  display: block;
}
.oculto{
  display: none;
}

.blockUI{
  background-color: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  opacity: .8;
  color: #fff;
  font-size: 18px;
}

#icon-save-new-nivel, #icon-deshacer-new-nivel
{
  line-height: 2;
}