.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Editar Mall
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Malls Registrados', malls_path
      %li
        Editar Mall

= render 'form'

