.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Gestion de Cobranzas de Alquiler
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Cobranzas de Alquiler

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-md-3
              .col-md-5.col-sm-3.col-xs-5
                = form_tag(@lapso_year, :html => { :class => "form-horizontal" } ) do |f|
                  = select_year(Date.today, options = { :start_year => Time.now.year, :end_year => Time.now.year - 5, :field_name => 'lapso_year'}, :class => 'actualizar_auditoria_ventas')
              .col-md-5.col-sm-3.col-xs-5
                = form_tag(@lapso_month, :html => { :class => "form-horizontal" } ) do |f|
                  = select_month(Date.today, options = { use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre), :field_name => 'select_month', :prefix => 'ventas'}, :class => 'actualizar_auditoria_ventas')
          %br
          .row
            .col-md-3.text-right.col-md-offset-6
              = button_tag 'Enviar Recibos de Cobro', class: 'btn btn-mall btn-block'
            .col-md-3
              = button_tag 'Notificar Tiendas No Actualizadas', class: 'btn btn-mall btn-block'
          %br
          .row
            .col-md-12
              %table.table.table-striped.table-bordered.table-hover#table_auditoria_ventas
                %thead
                  %tr
                    %th.text-center{width: '8%'}
                      Tienda
                    %th.text-center{width: '5%'}
                      Actividad Economica
                    %th.text-center{width: '7%'}
                      Local
                    %th.text-center{width: '8%'}
                      Tipo Canon
                    %th.text-center{width: '15%'}
                      Canon Fijo
                    %th.text-center{width: '15%'}
                      Monto Venta
                    %th.text-center{width: '15%'}
                      Canon x Ventas
                    %th.text-center{width: '15%'}
                      Total Canon
                    %th.text-center{width: '5%'}
                      Actualizada
                    %th.text-center{width: '5%'}
                      Recibo Cobro
                    %th.text-center{width: '6%'}
                      Acciones
                %tbody#tbody_auditoria_ventas
                %tfoot
                  %tr
                    %th{colspan: 4}
                      TOTAL
                    %td
                      = text_field_tag :monto_canon_fijo, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'
                    %td
                      = text_field_tag :total_ventas_mes, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'
                    %td
                      = text_field_tag :monto_canon_x_venta, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'
                    %td
                      = text_field_tag :total_canon, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'

