.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Ventas Diarias de la tienda
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Cobranzas de Alquiler', auditoria_ventas_path
      %li
        Ventas Diarias de la tienda

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-md-3
              .col-md-5
                = form_tag(@lapso_year, :html => { :class => "form-horizontal" } ) do |f|
                  = select_year(Date.today, options = { :start_year => Time.now.year, :end_year => Time.now.year - 5, :field_name => 'lapso_year'}, :class => 'actualizar_ventas')
              .col-md-5
                = form_tag(@lapso_month, :html => { :class => "form-horizontal" } ) do |f|
                  = select_month(Date.today, options = { use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre), :field_name => 'select_month', :prefix => 'ventas'}, :class => 'actualizar_ventas')

            .col-md-4
              .form-group
                .col-md-4
                  = label_tag :tienda do
                    Tienda:
                .col-md-8
                  = hidden_field_tag :tienda_id, params[:tienda_id]
                  = text_field_tag :tienda, @tienda.nombre, autofocus: true, class: 'form-control', readonly: 'readonly'
            .col-md-4
              .form-group
                .col-md-4
                  = label_tag :nro_local do
                    Nro. de Local:
                .col-md-8
                  = text_field_tag :nro_local, @tienda.local.nro_local, autofocus: true, class: 'form-control', readonly: 'readonly'
          .row
            .col-md-4.col-sm-offset-3
              .form-group
                .col-md-4
                  = label_tag :total_ventas do
                    Total Ventas:
                .col-md-8
                  -@suma = number_with_precision(0, precision: 2, separator: ',', delimiter: '.')
                  = text_field_tag :total_ventas, @suma, autofocus: true, class: 'form-control', placeholder:'Cargando Monto...', readonly: 'readonly'
            .col-md-4
              .form-group
                .col-md-4
                  = label_tag :canon_alquiler do
                    Canon Alquiler:
                .col-md-8
                  = text_field_tag :canon_alquiler, number_with_precision(@contrato_alquiler.last.canon_fijo_ml, precision: 2, separator: ',', delimiter: '.'), autofocus: true, class: 'form-control', readonly: 'readonly'
          %br
          .row
            .col-md-12
              %table.table.table-striped.table-bordered.table-hover#table_ventas_diarias
                %thead
                  %tr
                    %th.text-center.editar_monto_venta
                      Dia
                    %th.text-center
                      Monto Venta
                %tbody#tbody_ventas
