%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav
      %li.nav-header
        .dropdown.profile-element
          %span
            -#= image_tag current_user.avatar.url || 'building-avatar.gif', height: 50, class:'img-circle'
            -#%img.img-circle{:alt => "image", :src => "#{image_url 'building-avatar.gif'}", height: 50}
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold
                  = current_user.name || current_user.username
              %span.text-muted.text-xs.block
                = current_user.mall.nombre rescue 'Mall Rental'
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              = link_to  profile_path do
                Perfil
            %li.divider
            %li
              = link_to destroy_user_session_path, method: :delete do
                Cerrar Sesión
        .logo-element
          VL
      %li{class: is_active_controller('users/profiles')}
        = link_to profile_path do
          %i.fa.fa-user
          %span.nav-label Perfil
      - if can? :manage, User
        %li{class: is_active_controller('users/registrations')}
          %a{:href => ""}
            %i.fa.fa-database
            %span.nav-label Mall Admins
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('users/registrations')}"}
            %li{class: is_active_action('index')}= link_to 'Visualizar Mall Admins', users_index_path
            %li{class: is_active_action('new_user')}= link_to 'Nuevo Mall Admin', users_new_path
      - if can? :index, Role
        %li{class: is_active_controller('roles')}
          %a{:href => ""}
            %i.fa.fa-key
            %span.nav-label Roles
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('roles')}"}
            - if can? :index, Role
              %li{class: is_active_action('index')}= link_to 'Visualizar Roles', roles_path
            - if can? :new, Role
              %li{class: is_active_action('new')}= link_to 'Nuevo Rol', new_role_path
      - if can? :index, :mall_user
        %li{class: is_active_controller('users/mall_users')}
          = link_to mall_users_path do
            %i.fa.fa-users
            %span.nav-label Usuarios Mall
      - if can? :index, Arrendatario
        %li{class: is_active_controller('arrendatarios')}
          = link_to arrendatarios_path do
            %i.fa.fa-money
            %span.nav-label Arrendatarios
      - if can? :index, Local
        %li
          = link_to local_index_path do
            %i.fa.fa-building-o
            %span.nav-label Locales
      - if can? :index, Mall
        %li{class: is_active_controller('malls')}
          = link_to malls_path do
            %i.fa.fa-building-o
            %span.nav-label Malls
      - if can? :index, Venta
        %li{class: is_active_controller('ventas')}
          = link_to ventas_mall_tiendas_path do
            %i.fa.fa-building-o
            %span.nav-label Ventas
      - if can? :index, Tienda
        %li{class: is_active_controller('tiendas')}
          %a{href: '#'}
            %i.fa.fa-credit-card
            %span.nav-label Tiendas
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('tiendas')}"}
            %li{class: is_active_action('index')}= link_to 'Visualizar Tiendas', tiendas_path
            - if can? :new, Tienda
              %li{class: is_active_action('new')}= link_to 'Nueva Tienda', new_tienda_path
      -#%li{:class => is_active_controller('dashboards')}
      -#  %a{:href => ""}
      -#    %i.fa.fa-th-large
      -#    %span.nav-label Dashboards
      -#    %span.fa.arrow
      -#  %ul{:class => "nav nav-second-level #{is_active_controller('dashboards')}"}
      -#    %li{:class => is_active_action('dashboard_1')}= link_to "Dashboard v.1", root_path
      -#    %li{:class => is_active_action('dashboard_2')}= link_to "Dashboard v.2", dashboards_dashboard_2_path
      -#    %li{:class => is_active_action('dashboard_3')}= link_to "Dashboard v.3", dashboards_dashboard_3_path
      -#    %li{:class => is_active_action('dashboard_4_1')}= link_to "Dashboard v.4", dashboards_dashboard_4_1_path
      -#%li{:class => is_active_controller('layoutsoptions')}
      -#  = link_to layoutsoptions_index_path do
      -#    %i.fa.fa-diamond
      -#    %span.nav-label Layouts
      -#    %span.label.label-primary.pull-right NEW
      -#%li{:class => is_active_controller('graphs')}
      -#  %a{:href => "#"}
      -#    %i.fa.fa-bar-chart-o
      -#    %span.nav-label Graphs
      -#    %span.fa.arrow
      -#  %ul.nav.nav-second-level{:class => "is_active_controller('graphs')"}
      -#    %li{:class => is_active_action('flot')}= link_to "Flot Charts", graphs_flot_path
      -#    %li{:class => is_active_action('morris')}= link_to "Morris.js Charts", graphs_morris_path
      -#    %li{:class => is_active_action('rickshaw')}= link_to "Rickshaw Charts", graphs_rickshaw_path
      -#    %li{:class => is_active_action('chartjs')}= link_to "Chart.js", graphs_chartjs_path
      -#    %li{:class => is_active_action('peity')}= link_to "Peity Charts", graphs_peity_path
      -#    %li{:class => is_active_action('sparkline')}= link_to "Sparkline Charts", graphs_sparkline_path
      -#%li{:class => is_active_controller('mailbox')}
      -#  %a{:href => "mailbox.html"}
      -#    %i.fa.fa-envelope
      -#    %span.nav-label Mailbox
      -#    %span.label.label-warning.pull-right 16/24
      -#  %ul.nav.nav-second-level{:class => "is_active_controller('mailbox')"}
      -#    %li{:class => is_active_action('inbox')}= link_to "Inbox", mailbox_inbox_path
      -#    %li{:class => is_active_action('email_view')}= link_to "Email view", mailbox_email_view_path
      -#    %li{:class => is_active_action('compose_email')}= link_to "Compose email", mailbox_compose_email_path
      -#    %li{:class => is_active_action('email_templates')}= link_to "Email templates", mailbox_email_templates_path
      -#%li{:class => is_active_controller('widgets')}
      -#  = link_to widgets_index_path do
      -#    %i.fa.fa-flask
      -#    %span.nav-label Widgets
      -#%li{:class => is_active_controller('forms')}
      -#  %a{:href => "#"}
      -#    %i.fa.fa-edit
      -#    %span.nav-label Forms
      -#    %span.fa.arrow
      -#  %ul.nav.nav-second-level{:class => "is_active_controller('forms')"}
      -#    %li{:class => is_active_action('basic_forms')}= link_to "Basic form", forms_basic_forms_path
      -#    %li{:class => is_active_action('advanced')}= link_to "Advanced Plugins", forms_advanced_path
      -#    %li{:class => is_active_action('wizard')}= link_to "Wizard", forms_wizard_path
      -#    %li{:class => is_active_action('file_upload')}= link_to "File Upload", forms_file_upload_path
      -#    %li{:class => is_active_action('text_editor')}= link_to "Text Editor", forms_text_editor_path
      -#%li{:class => is_active_controller('appviews')}
      -#  %a{:href => "#"}
      -#    %i.fa.fa-desktop
      -#    %span.nav-label App Views
      -#    %span.pull-right.label.label-primary SPECIAL
      -#  %ul.nav.nav-second-level{:class => "is_active_controller('appviews')"}
      -#    %li{:class => is_active_action('contacts')}= link_to "Contacts", appviews_contacts_path
      -#    %li{:class => is_active_action('profile')}= link_to "Profile", appviews_profile_path
      -#    %li{:class => is_active_action('projects')}= link_to "Projects", appviews_projects_path
      -#    %li{:class => is_active_action('project_detail')}= link_to "Project detail", appviews_project_detail_path
      -#    %li{:class => is_active_action('file_menager')}= link_to "File manager", appviews_file_menager_path
      -#    %li{:class => is_active_action('calendar')}= link_to "Calendar", appviews_calendar_path
      -#    %li{:class => is_active_action('faq')}= link_to "FAQ", appviews_faq_path
      -#    %li{:class => is_active_action('timeline')}= link_to "Timeline", appviews_timeline_path
      -#    %li{:class => is_active_action('pin_board')}= link_to "Pin board", appviews_pin_board_path
      -#%li{:class => is_active_controller('pages')}
      -#  %a{:href => "#"}
      -#    %i.fa.fa-files-o
      -#    %span.nav-label Other Pages
      -#    %span.fa.arrow
      -#  %ul.nav.nav-second-level{:class => "is_active_controller('pages')"}
      -#    %li{:class => is_active_action('search_results')}= link_to "Search results", pages_search_results_path
      -#    %li{:class => is_active_action('lockscreen')}= link_to "Lockscreen", pages_lockscreen_path
      -#    %li{:class => is_active_action('invoice')}= link_to "Invoice", pages_invoice_path
      -#    %li{:class => is_active_action('login')}= link_to "Login", pages_login_path
      -#    %li{:class => is_active_action('login_2')}= link_to "Login v.2", pages_login_2_path
      -#    %li{:class => is_active_action('register')}= link_to "Register", pages_register_path
      -#    %li{:class => is_active_action('not_found_error')}= link_to "404 Page", pages_not_found_error_path
      -#    %li{:class => is_active_action('internal_server_error')}= link_to "500 Page", pages_internal_server_error_path
      -#    %li{:class => is_active_action('empty_page')}= link_to "Empty page", pages_empty_page_path
      -#%li{:class => is_active_controller('miscellaneous')}
      -#  %a{:href => "#"}
      -#    %i.fa.fa-globe
      -#    %span.nav-label Miscellaneous
      -#    %span.label.label-info.pull-right NEW
      -#  %ul.nav.nav-second-level{:class => "is_active_controller('miscellaneous')"}
      -#    %li{:class => is_active_action('notification')}= link_to "Notification", miscellaneous_notification_path
      -#    %li{:class => is_active_action('nestablelist')}= link_to "Nestable list", miscellaneous_nestablelist_path
      -#    %li{:class => is_active_action('timeline_second_version')}= link_to "Timeline v.2", miscellaneous_timeline_second_version_path
      -#    %li{:class => is_active_action('forum_view')}= link_to "Forum view", miscellaneous_forum_view_path
      -#    %li{:class => is_active_action('google_maps')}= link_to "Google maps", miscellaneous_google_maps_path
      -#    %li{:class => is_active_action('code_editor')}= link_to "Code editor", miscellaneous_code_editor_path
      -#    %li{:class => is_active_action('modal_window')}= link_to "Modal window", miscellaneous_modal_window_path
      -#    %li{:class => is_active_action('validation')}= link_to "Validation", miscellaneous_validation_path
      -#    %li{:class => is_active_action('tree_view')}= link_to "Tree view", miscellaneous_tree_view_path
      -#    %li{:class => is_active_action('chat_view')}= link_to "Chat view", miscellaneous_chat_view_path
      -#%li{:class => is_active_controller('uielements')}
      -#  %a{:href => "#"}
      -#    %i.fa.fa-flask
      -#    %span.nav-label UI Elements
      -#    %span.fa.arrow
      -#  %ul.nav.nav-second-level{:class => "is_active_controller('uielements')"}
      -#    %li{:class => is_active_action('typography')}= link_to "Typography", uielements_typography_path
      -#    %li{:class => is_active_action('icons')}= link_to "Icons", uielements_icons_path
      -#    %li{:class => is_active_action('draggable_panels')}= link_to "Draggable Panels", uielements_draggable_panels_path
      -#    %li{:class => is_active_action('buttons')}= link_to "Buttons", uielements_buttons_path
      -#    %li{:class => is_active_action('video')}= link_to "Video", uielements_video_path
      -#    %li{:class => is_active_action('tables_panels')}= link_to "Tabs & Panels", uielements_tables_panels_path
      -#    %li{:class => is_active_action('notifications_tooltips')}= link_to "Notifications & Tooltips", uielements_notifications_tooltips_path
      -#    %li{:class => is_active_action('badges_labels_progress')}= link_to "Badges, Labels, Progress", uielements_badges_labels_progress_path
      -#%li{:class => is_active_controller('gridoptions')}
      -#  = link_to gridoptions_index_path do
      -#    %i.fa.fa-laptop
      -#    %span.nav-label Grid options
      -#%li{:class => is_active_controller('tables')}
      -#  %a{:href => "#"}
      -#    %i.fa.fa-table
      -#    %span.nav-label Tables
      -#    %span.fa.arrow
      -#  %ul.nav.nav-second-level{:class => "is_active_controller('tables')"}
      -#    %li{:class => is_active_action('static_tables')}= link_to "Static Tables", tables_static_tables_path
      -#    %li{:class => is_active_action('data_tables')}= link_to "Data Tables", tables_data_tables_path
      -#    %li{:class => is_active_action('jqgrid')}= link_to "jqGrid", tables_jqgrid_path
      -#%li{:class => is_active_controller('gallery')}
      -#  %a{:href => "#"}
      -#    %i.fa.fa-picture-o
      -#    %span.nav-label Gallery
      -#    %span.fa.arrow
      -#  %ul.nav.nav-second-level{:class => "is_active_controller('gallery')"}
      -#    %li{:class => is_active_action('basic_gallery')}= link_to "Lightbox Gallery", gallery_basic_gallery_path
      -#    %li{:class => is_active_action('bootstrap_carusela')}= link_to "Bootstrap Carusela", gallery_bootstrap_carusela_path
      -#%li
      -#  %a{:href => "#"}
      -#    %i.fa.fa-sitemap
      -#    %span.nav-label Menu Levels
      -#    %span.fa.arrow
      -#  %ul.nav.nav-second-level
      -#    %li
      -#      %a{:href => "#"}
      -#        Third Level
      -#        %span.fa.arrow
      -#      %ul.nav.nav-third-level
      -#        %li
      -#          %a{:href => "#"} Third Level Item
      -#        %li
      -#          %a{:href => "#"} Third Level Item
      -#        %li
      -#          %a{:href => "#"} Third Level Item
      -#    %li
      -#      %a{:href => "#"} Second Level Item
      -#    %li
      -#      %a{:href => "#"} Second Level Item
      -#    %li
      -#      %a{:href => "#"} Second Level Item
      -#%li{:class => is_active_controller('cssanimations')}
      -#  = link_to cssanimations_index_path do
      -#    %i.fa.fa-magic
      -#    %span.nav-label CSS Animations
      -#    %span.label.label-info.pull-right 62