- if user_signed_in?
  !!!
  %html
    %head
      %meta{:charset => "utf-8"}/
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
      %title= full_title(yield(:title))
      / Include style per-controller - vendor plugins
      = stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css")
      / Main css styles
      = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      / Main javascript files
      = javascript_include_tag 'application', 'data-turbolinks-track' => true

      = csrf_meta_tags
    %body.skin-3
      / Skin configuration box
      -#= render 'layouts/skinconfig'
      / Wrapper
      #wrapper{:class => "#{params[:controller]}.#{params[:action]}"}
        / Navigation
        = render 'layouts/navigation'
        / Page wraper
        #page-wrapper{:class => "gray-bg #{@extra_class}"}
          / Page wrapper
          = render 'layouts/topnavbar'
          = render 'layouts/flash_message'
          / Main view
          = yield
          / Footer
          = render 'layouts/footer'
      / End page wrapper
      / End wrapper
      / Include javascript per-controller - vendor plugins
      = javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js")
      / Include javascript per-view
      / For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want
      = yield :javascript
- else
  !!!
  %html
    %head
      %meta{:charset => "utf-8"}/
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
      %title MallRental
      / Include style per-controller - vendor plugins
      = stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css")
      / Main css styles
      = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      / Main javascript files
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = csrf_meta_tags
    %body.gray-bg
      / Main view
      = render 'layouts/flash_message'
      = yield
      / Include javascript per-controller - vendor plugins
      = javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js")
      / Include javascript per-view
      / For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want
      = yield :javascript