%p
  Hola #{@resource.email}!
%p Alguien ha solicitado cambiar tu contrase침a en MallRental. Puedes hacerlo haciendo click en el siguiente link
%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
%p Si usted no ha realizado esta petici칩n, por favor ignore este correo.
%p Su contrase침a no ser치 cambiada hasta que acceda al link de arriba y cree una nueva.
