.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Editar Usuario
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Usuarios Registrados', users_index_path
      %li
        Editar Usuario

.wrapper.wrapper-content
  .row.animated.fadeInRight
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Editar Usuario:
            = @user.username
        .ibox-content
          = form_for(@user, url:  users_update_user_path(id: @user), html: { method: :post, class:"form-horizontal m-t-md", id: "form_edit_user"}) do |f|
            = devise_error_messages!
            .form-group
              = f.label :name, 'Nombre: ', class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :name, autofocus: true, class: 'form-control'
            .form-group
              = f.label :username, "Login: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :username, class: 'form-control'
            .form-group
              = f.label :email, "Correo Electrónico: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.email_field :email, class: "form-control"
            .form-group
              = f.label :cellphone, 'Teléfonos: ', class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :cellphone, autofocus: false, class: 'form-control'
            .form-group
              = f.label :mall_id, 'Mall: ', class: 'col-sm-2 control-label'
              .col-sm-10
                = f.select :mall_id, options_from_collection_for_select(Mall.all, :id, :nombre, selected: f.object.mall.present? ? f.object.mall.id : nil), { include_blank: false }, {class: 'form-control'}
            .form-group
              = f.label :locked, 'Bloqueado:', class: 'col-sm-2 control-label'
              .col-sm-10
                = f.check_box :locked
            .form-group
              = f.label :role, "Roles: ", class: 'col-sm-2 control-label'
              .col-sm-10
                %table
                  %tbody
                  = f.collection_radio_buttons :role_id, Role.all_valids, :id, :name do |r|
                    %tr
                      %td= r.label
                      &nbsp;
                      %td= r.radio_button
            .form-group
              .col-sm-3.col-sm-offset-9
                = f.submit "Actualizar", class: "btn btn-warning btn-block"

-#%h2
-#  Edit #{resource_name.to_s.humanize}
-#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
-#  = devise_error_messages!
-#  .field
-#    = f.label :email
-#    %br/
-#    = f.email_field :email, autofocus: true
-#  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
-#    %div
-#      Currently waiting confirmation for: #{resource.unconfirmed_email}
-#  .field
-#    = f.label :password
-#    %i (leave blank if you don't want to change it)
-#    %br/
-#    = f.password_field :password, autocomplete: "off"
-#  .field
-#    = f.label :password_confirmation
-#    %br/
-#    = f.password_field :password_confirmation, autocomplete: "off"
-#  .field
-#    = f.label :current_password
-#    %i (we need your current password to confirm your changes)
-#    %br/
-#    = f.password_field :current_password, autocomplete: "off"
-#  .actions
-#    = f.submit "Update"
-#%h3 Cancel my account
-#%p
-#  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
-#= link_to "Back", :back
